$titlebar-height: 30;
$header-height: 80;
$head-height: $titlebar-height + $header-height;
$secondary-color: darkgreen;
$secondary-text: white;
$primary-color: #F3F2F1;
$header-cell-color: #E6E6E6;
$cell-border-color: #D4D4D4;
$header-cell-border-color: #999999;

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin full-screen {
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
    margin: 0;
    @include full-screen();
}

body {
    margin: 0;
    font-family: "Segoe UI", "sans-serif";
    background-color: $primary-color;
    @include full-screen();
}

.spreadsheet {
    button {
        font-family: "Segoe UI", "sans-serif";
        width: 70px;
        height: 25px;
        font-size: 14px;
        padding: 0 3px;
    }

    @include full-screen();
}

.spreadsheet-titlebar {
    height: $titlebar-height + px;
    font-size: 16px;
    text-align: center;
    background-color: $secondary-color;
    color: white;
    line-height: $titlebar-height + px;
}

.spreadsheet-header {
    height: $header-height + px;
    background-color: $primary-color;

    .menu-strip {
        float: left;
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
        
        .menu-bar-label {
            font-size: small;
            padding: 10px 5px 0px 5px;
        }
    
        .menu-bar {
            padding: 10px 5px;
        }
    }

    @include clearfix();
}

.spreadsheet-body {
    position: absolute;
    top: $head-height + px;
    bottom: 0;
    left: 0;
    right: 0;

    .spreadsheet-content {
        overflow: scroll;
        border: 2px solid $primary-color;
        height: 100%;
    }

    .cell-row {
        white-space: nowrap;

        &:not(.header-row) {
            .header-cell {
                width: 40px;
            }
        }

        @include clearfix();
    }

    .cell-wrapper {
        display: inline-block;
    }

    .cell {
        width: 85px;
        height: 25px;

        input {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid $cell-border-color
        }
    }
    
    .cell-wrapper .corner-cell {
        width: 40px;
        input {
            border: 1px solid $header-cell-border-color;
            border-top: 0;
            border-left: 0;
        }
    }

    .header-cell {
        input {
            text-align: center;
            background-color: $header-cell-color;
            border: 1px solid $header-cell-border-color;
        }
    }

    .header-row .header-cell {
        input {
            border-top: 0;
        }
    }

    .cell-row:not(.header-row) .header-cell {
        input {
            border-left: 0;
        }
    }

    .active-cell {
        position: relative;
        outline: 2px solid $secondary-color;
        outline-offset: -1px;
        z-index: 1;
    }
}

.spreadsheet-loading {
    @extend .spreadsheet-body;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    background-color: $primary-color;
    z-index: 90;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.not-visible {
    visibility: hidden;
}

.no-display {
    display: none;
}
