html {
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: "Segoe UI", "sans-serif";
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.spreadsheet {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.spreadsheet button {
  width: 80px;
  height: 30px;
}

.spreadsheet-header {
  height: 80px;
  margin: 10px 5px;
}

@media screen and (max-width: 464px) {
  .spreadsheet-header {
    height: 160px;
  }
  .spreadsheet-header .menu-strip {
    float: none;
    margin-left: none;
  }
}

.spreadsheet-header .menu-strip {
  float: left;
  margin-left: 30px;
}

.spreadsheet-header .menu-strip:first-child {
  margin-left: 0;
}

.spreadsheet-header .menu-strip .menu-bar-label {
  font-size: small;
  padding: 10px 5px 0px 5px;
}

.spreadsheet-header .menu-strip .menu-bar {
  padding: 10px 5px;
}

.spreadsheet-header:after {
  content: "";
  display: table;
  clear: both;
}

.spreadsheet-body {
  margin: 10px 5px;
  position: absolute;
  top: 80px;
  bottom: 10px;
  left: 5px;
  right: 5px;
}

@media screen and (max-width: 464px) {
  .spreadsheet-body {
    top: 160px;
  }
}

.spreadsheet-body .spreadsheet-content {
  overflow: scroll;
  border: 2px solid lightgrey;
  height: 100%;
}

.spreadsheet-body .cell-row {
  white-space: nowrap;
}

.spreadsheet-body .cell-row:not(.header-row) .header-cell {
  width: 40px;
}

.spreadsheet-body .cell-row:after {
  content: "";
  display: table;
  clear: both;
}

.spreadsheet-body .cell-wrapper {
  display: inline-block;
}

.spreadsheet-body .cell {
  width: 85px;
  height: 25px;
}

.spreadsheet-body .cell input {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 0.5px solid lightgray;
}

.spreadsheet-body .corner-cell {
  width: 40px;
}

.spreadsheet-body .header-cell input {
  text-align: center;
  background-color: lightgray;
}

.spreadsheet-body .active-cell {
  position: relative;
  outline: 2px solid darkgreen;
  z-index: 1;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
